%html
  %head
    %title InterMine JBrowse Adaptor
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :href => "http://cdn.intermine.org/css/bootstrap/2.0.4/css/bootstrap.css"}

  %body
    .navbar
      .navbar-inner
        %h1.brand InterMine JBrowse Adaptor
        %ul.nav
          %li{:class => (request.path_info == "/" ? 'active' : '')}
            %a{:href => "/"} Home

    .container-fluid

      %p
        This application provides a JSON REST API endpoint for JBrowse

      #content.row-fluid
        =yield

      #footer.clear-fix
        %p
          powered by Sinatra and InterMine
