%html
  %head
    %title InterMine JBrowse Adaptor
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :href => "http://cdn.intermine.org/css/bootstrap/2.0.4/css/bootstrap.css"}

  %body
    .container-fluid
      %h1 InterMine JBrowse Adaptor
      %p
        This application provides a JSON REST API endpoint for JBrowse

      #content.row-fluid
        =yield

      #footer.clear-fix
        %p
          powered by Sinatra and InterMine
